body {
    font-family: Arial, sans-serif;
}

h1 {
    color: gold;
}

#data-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

button {
    background-color: gold;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

h2 {
    color: gold;
}

#data-table {
    border-collapse: collapse;
    width: 100%;
}

#data-table th,
#data-table td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    background-color: gold;
    color: black;
}

#data-table th {
    font-weight: bold;
}

#data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
